@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --colorPrimary: #7fff00;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #eeeeee;
  background-color: #393e46;
}

/* PRESETS */

li {
    list-style: none;
    margin: 2vh;
}

a {
    text-decoration: none;
    color: #eeeeee;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

img {
    width: 100%;
    height: 76%;
    object-fit: cover; /* Crop and center the image */
    object-position: center; /* Center the image horizontally and vertically */
}

h1, h2, h3, h4, p {
    text-align: center;
    margin: 1vh;
    color: #eeeeee;
    text-transform: uppercase;
}

p {
    text-transform: capitalize;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.green {
    background-color: #00853E;
    color: white;
}

.container {
    width: 90%;
    height: auto;
    margin: 5vh auto;
}

.sub-container {
    background-color: #222831;
    width: 80%;
    height: auto;
    margin: 1vh auto;
    padding: 2vh;
}

#merchantProducts img {
    width: 100%;
    height: 65%;
}

#merchantProducts li {
    height: 40vh;
}

.sub-background {
    background-color: #222831;
}

#productDetails {
    background-color: #222831;
}

#productImg {
    width: 80%;
    height: 50vh;
    margin: 5vh;
}

#filters {
    width: 100%;
    height: auto;
}

#filters select, #filters option {
    background-color: #222831;
    width: 35vh;
    height: 3.5vh;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
    color: #eeeeee;
    outline: none;
    border: 2px solid #222831;
    margin: 2vh;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#filters select:focus {
    outline: none;
}

.products li {
    background-color: #222831;
    width: 35vh;
    height: 35vh;
    padding: 0;
    overflow: hidden;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.products li:hover {
    box-shadow: rgba(0, 146, 202, 0.25) 0px 54px 55px, rgba(0, 146, 202, 0.12) 0px -12px 30px, rgba(0, 146, 202, 0.12) 0px 4px 6px, rgba(0, 146, 202, 0.17) 0px 12px 13px, rgba(0, 146, 202, 0.09) 0px -3px 5px;
}

#cart {
    height: auto;
}

#productsInCart li {
    margin: 1vh;
}

#cartTotals {
    width: 40vh;
}

#productsInCart img {
    width: 100%;
    height: 62%;
    margin: 0;
}

#productsInCart div {
    width: 100%;
    height: 40%;

}
#productsInCart h4, #productsInCart p {
    font-size: 14px;
}

#productsInCart button {
    width: 60%;
    height: 4vh;
    font-size: 10px;
    text-align: center;
    padding: 0;
    margin-bottom: 3vh;
}

/* NAVIGATION */

#nav {
    background-color: #0092ca;
    width: 100%;
    height: 7vh;
    margin-bottom: 2vh;
}

#nav ul {
    justify-content: flex-start;
}

#nav ul li a:hover {
    color: #222831;
}

#cart-icon {
    position: relative;
    font-size: 15px;
}

#itemsInCart {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    width: 14px;
    height: 14px;
}

form {
    background-color: #222831;
    width: 30vw;
    min-width: 500px;
    margin: 0 auto;
    align-self: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 7px;
    padding: 40px;
    color: #eeeeee;
}

form a {
    color: #eeeeee;
}

#loginForm div{
    width: 100%;
    height: auto;
    color: #eeeeee;
    margin: 5px;
}

.hidden {
  display: none;
}

.show {
    display: block;
}

#email, input {
  border-radius: 6px;
  margin: 16px 0;
  padding: 12px;
  border: 1px solid #424353;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5), 0px 1px 6px rgba(0, 0, 0, 0.25);
  max-height: 44px;
  font-size: 16px;
  width: 100%;
  background: #30313d;
  text-transform: lowercase;
  font-family: 'Quicksand', sans-serif;
  color: #eeeeee;
}

#payment-form input:focus, input:focus, #address-element:focus-within {
    outline: none;
    border-color: #0092ca;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(18, 42, 66, 0.02),
                0 0 0px 1px #0092ca;
}

input::placeholder {
    text-transform: capitalize;
    color: #eeeeee;
}

#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
button, input[type=submit] {
  background: #0092ca;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
  text-transform: uppercase;
}

button:hover, input[type=submit]:hover {
  filter: contrast(115%);
  background-color: #eeeeee;
  color: #0092ca;
}

button:active, input[type=submit]:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a slight shadow when clicked */
}

button:disabled, input[type=submit]:disabled {
  opacity: 0.5;
  cursor: default;
}

#buttonGroup button {
    margin: 1vh;
}

#buttonGroup button a {
    color: #eeeeee;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
}



