<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css">
        <title>Sell Your Random Stuff</title>
    </head>
    <body>
        <nav id="nav" class="nav">
            <ul class="row">
                <li><a href="{{ url_for('main') }}">buy some stuff</a></li>
                {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('login') }}">Sell some stuff</a></li>
<!--                <li><a href="{{ url_for('cart') }}">Cart</a></li>-->
                <li id="cart-icon">
                    <a href="{{ url_for('cart') }}"><i class="fas fa-shopping-cart"></i></a>
                    <span class="hidden" id="itemsInCart"></span>
                </li>
                {% endif %}
                <!-- HIDE ONCE LOGGED IN     -->
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('account') }}">Account</a></li>
                <li><a href="{{ url_for('view_products') }}">Your Products</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% endif %}
                <!--     END       -->
            </ul>
        </nav>

        <!--  MAIN CONTENT  -->
        {% block main %}{% endblock %}
    </body>
    <script src="https://kit.fontawesome.com/37a1aff8cb.js" crossorigin="anonymous"></script>
    <script>
        if (Object.keys(JSON.parse(localStorage.getItem('cart'))).length > 3){
            document.getElementById('itemsInCart').classList.remove('hidden')
        }
    </script>
</html>