{% extends "base.html" %}

{% block main %}
<h1>checkout</h1>
<form class="container col" action="">
    <div class="sub-container col">
        <label>Name</label>
        <input type="text" placeholder="name">
    </div>
    <div class="sub-container col">
        <label>street address</label>
        <input type="text" placeholder="address">
        <div class="sub-container col">
            <label for="">city</label>
            <input type="text" placeholder="city">
            <label for="">state</label>
            <input type="text" placeholder="state">
            <label for="">zip code</label>
            <input type="text" placeholder="zip code">
        </div>
        <div class="sub-container col">
            <label for="">card information</label>
            <input type="text" placeholder="card number">
            <div class="sub-container col">
                <label for="">Expiration</label>
                <input type="month">
            </div>
            <label for="">cvv</label>
            <input type="text" placeholder="cvv">
        </div>
    </div>
    <input type="submit">
</form>



{% endblock %}