{% extends "base.html"%}

{% block main %}

<h1>LOGIN</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="col">
        <p>{{ messages[0] }}</p>
    </div>
    {% endif %}
{% endwith %}

<form action="{{ url_for('login') }}" method="POST" class="col" id="loginForm">
    <!--  LOGIN  -->
    <input type="email" placeholder="email" name="email" required>
    <input type="password"
           placeholder="password"
           name="password"
           minlength="8"
           maxlength="16"
           pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
           title="Letters (capital and lower), numbers, and 8 min characters"
           required>
    <div class="">
        <a href="{{ url_for('signup') }}">sign-up ></a>
    </div>
    <button>submit</button>
</form>

{% endblock %}