{% extends "base.html" %}

{% block main %}
<h1>Sell Your Random Stuff</h1>
<main class="container col">
    <div id="filters" class="row" >
        <div class="col">
            <select name="categories" id="categories">
                <option value="">All Items</option>
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <select name="sort_by" id="sort">
                <option value="">Sort by</option>
                <option value="price_high">price: high-low</option>
                <option value="price_low">price: low-high</option>
            </select>
        </div>
    </div>
    <ul class="products row" id="products">
        {% for product in products %}
        <li class="col">
            <a href="{{ url_for('product_detail', product_id=product.id) }}">
                <img src="{{ product['img_url'] }}" alt="product image">
                <h4>{{ product.name.upper() }}</h4>
                <p id="category" style="display: none;">{{ product.category }}</p>
                <p id="price">${{ product.price }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</main>
<script src="../static/scripts/filter.js" ></script>
{% endblock %}