{% extends "base.html"%}

{% block main %}

<h1>product manager</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="col">
        <p>{{ messages[0] }}</p>
    </div>
    {% endif %}
{% endwith %}
<div class="container col">
    <a href="{{ url_for('new_product') }}"><button>new product</button></a>
    {% if merchant_products %}
    <ul class="sub-container row">
        {% for product in merchant_products %}
        <li>
            <h4>{{ product.name }}</h4>
            <a href="{{ url_for('product_detail', product_id=product.id) }}">
                <img src="{{ product.img_url }}" alt="product photo">
            </a>
            <div class="row">
                <a href="{{ url_for('update_product', product_id=product.id) }}">
                    <button>Update</button>
                </a>
                <a href="{{ url_for('delete_product', product_id=product.id) }}">
                    <button>Delete</button>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>nothing to show</p>
    {% endif %}
</div>

{% endblock %}