{% extends "base.html"%}

{% block main %}

<h1>upload new product</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="col">
        <p>{{ messages[0] }}</p>
    </div>
    {% endif %}
{% endwith %}
<form class="col" action="{{ url_for('new_product') }}" method="POST" enctype="multipart/form-data">
    <!--    NAME-->
    <input type="text" id="product_name" name="product_name" placeholder="Product name" required>
    <br>
    <!--    PRICE-->
    <input type="number" id="product_price" name="product_price" placeholder="Product Price" required>
    <br>
    <!--    CATEGORY-->
    <input type="text" id="product_category" name="product_category" placeholder="Product Category" required>
    <br>
    <!--    DESCRIPTION -->
    <input type="text" id="product_description" name="product_description" placeholder="Product Description" required>
    <br>
    <!--    IMG-->
    <input type="file" id="product_img" name="product_img" accept="image/png, image/jpeg" />
    <input type="submit">
</form>



{% endblock %}