{% extends "base.html" %}

{% block main %}
<h1>Product details</h1>
<div class="container col">
    <div>
        <img src="{{ product.img_url }}" alt="product image">
    </div>
    <div class="sub-container col">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <h4>price: ${{ product.price }}</h4>
        <p>seller: {{ product.seller.name }}</p>
        {% if not current_user.is_authenticated %}
        <div class="row">
            <button>Add to cart</button>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}