{% extends "base.html"%}

{% block main %}

<h1>SIGNUP</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="col">
        <p>{{ messages[0] }}</p>
    </div>
    {% endif %}
{% endwith %}

<form action="{{ url_for('signup') }}" method="POST" class="form container col">
    <!--  SIGNUP  -->
    <label for="merchant name">name:</label>
    <input type="text" placeholder="full name" name="merchant name" required>
    <label for="email">email:</label>
    <input type="email" placeholder="email" name="email" required>
    <label for="password">password:</label>
    <input type="password" placeholder="password" name="password" required>
    <button>submit</button>
</form>

{% endblock %}