{% extends "base.html"%}

{% block main %}
<h1>update product</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="col">
        <p>{{ messages[0] }}</p>
    </div>
    {% endif %}
{% endwith %}
<form class="col" action="{{ url_for('update_product', product_id=product.id) }}" method="POST" enctype="multipart/form-data">
    <!--    NAME-->
    <input type="text"
           id="product_name"
           name="product_name"
           placeholder="Change name"
           value="{{ product.name }}"
           required>
    <!--    PRICE-->
    <input type="number"
           id="product_price"
           name="product_price"
           placeholder="Change Price"
           value="{{ product.price }}"
           required>
    <!--    CATEGORY-->
    <input type="text"
           id="product_category"
           name="product_category"
           placeholder="Change Category"
           value="{{ product.category }}"
           required>
    <!--    DESCRIPTION -->
    <input type="text"
           id="product_description"
           name="product_description"
           placeholder="Product Description"
           value="{{ product.description }}"
           required>
    <!--    IMG-->
    <input type="file"
           id="product_img"
           name="product_img"
           accept="image/png, image/jpeg" />
    <input type="submit">
</form>
{% endblock %}